<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools" layout-align="space-between center">
            <div>Transaction ID: {{mdDialogData.fileInfo.transactionId}} &nbsp;&nbsp;&nbsp;&nbsp;Timestamp: {{mdDialogData.fileInfo.timestamp | date:'medium'}}
            </div>
            <div>
            Latitude: {{mdDialogData.fileInfo.location.latitude}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Longitude: {{mdDialogData.fileInfo.location.longitude}}
            </div>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>
                    <md-tooltip md-direction="right">Close</md-tooltip>close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <h2 ng-if="!locationPermission">User Denied GeoLocation Permission</h2>
        <ng-map ng-if="locationPermission" style="height:500px; width: 99%;" center="[{{mdDialogData.fileInfo.location.latitude}}, {{mdDialogData.fileInfo.location.longitude}}]" zoom="10" default-style="false">
            <marker position="{{mdDialogData.fileInfo.location.latitude}}, {{mdDialogData.fileInfo.location.longitude}}" icon="{url:'assets/img/marker.png',scaledSize:[20,30]}">
            </marker>
            <info-window id="about-markers-2">
                    <div ng-non-bindable="">
                    <div id="bodyContent">
                        <p>
                        Most Recent Location
                        </p>
                    </div>
                    </div>
                </info-window>
        </ng-map>
    </md-dialog-content>
</md-dialog>