<md-card>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>Transaction Explorer</span>
            <span flex></span>
            <md-input-container flex="50">
                <input name="searchValues" ng-model="searchValues">
                <md-icon>search</md-icon>
            </md-input-container>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table class="table table-hover">
            <thead md-head>
                <tr md-row>
                    <th md-column><span>Transaction ID</span></th>
                    <th md-column><span></span></th>
                    <th md-column><span>Timestamp</span></th>
                    <!-- <th md-column><span>File Hash</span></th> -->
                    <th md-column><span>File Name</span></th>
                    <!-- <th md-column><span>File Size (in bytes)</span></th> -->
                    <th md-column><span></span></th>
                    <th md-column><span></span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="transaction in transactionExplorer.transactionList | filter: searchValues">
                    <td md-cell>{{ transaction.transactionId }} </td>
                    <td md-cell>
                        <md-button class="md-icon-button console-buttons md-small" ngclipboard data-clipboard-text="{{transaction.transactionId}}">
                            <md-icon>
                                <md-tooltip md-direction="top">Copy to Clipboard</md-tooltip>file_copy
                            </md-icon>
                        </md-button>
                    </td>
                    <td md-cell>{{ transaction.timestamp | date:'medium' }}</td>
                    <!-- <td md-cell>{{ transaction.fileHash }}</td> -->
                    <td md-cell>{{ transaction.fileName }}</td>
                    <!-- <td md-cell>{{ transaction.fileSize }}</td> -->
                    <td md-cell>
                        <md-button class="md-icon-button console-buttons md-small" ng-click="transactionExplorer.verifyFile(transaction)">
                            <md-icon>
                                <md-tooltip md-direction="top">Verify File</md-tooltip>vpn_key
                            </md-icon>
                        </md-button>
                    </td>
                    <td md-cell>
                        <md-button class="md-icon-button console-buttons md-small" ng-click="transactionExplorer.downloadFile(transaction)">
                            <md-icon>
                                <md-tooltip md-direction="top">Download File</md-tooltip>cloud_download
                            </md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
</md-card>